table, th, td {
    border: 1px solid black;
    border-color: cornflowerblue;
    border-width: 2px;
    border-style: outset;
} 

th {
    padding-inline: 5px;
}

tr:nth-child(even) {
    background-color:darkseagreen;
}

tr:nth-child(odd) {
    background-color:palegreen;
}

tr:nth-child(1) {
    background-color: darkslategray;
    color: palegreen;
    text-align: center;
}