body {
    background-image: url("penguins.jpg");
}

table, th, td{
    border-style: groove;
    border-width: 2px;
    border-spacing: 0px;
}

table{
    width: 600px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
}

th {
    background-color: white;
}

td {
    background-color: rgb(253, 243, 107);
}